[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
apifairy = "*"
apispec = "*"
attrs = "*"
autopep8 = "*"
bcrypt = "*"
cffi = "*"
click = "*"
flake8 = "*"
flask = "*"
flask-httpauth = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
greenlet = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
jsonschema = "*"
mako = "*"
markupsafe = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
mccabe = "*"
mistune = "*"
packaging = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pyparsing = "*"
pyrsistent = "*"
python-dotenv = "*"
pyyaml = "*"
six = "*"
sqlalchemy = "*"
toml = "*"
webargs = "*"
werkzeug = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
