alembic==1.7.7
apifairy==1.1.0
apispec==5.2.2
attrs==21.4.0
autopep8==1.6.0
bcrypt==3.2.2
cffi==1.15.0
click==8.0.1
flake8==4.0.1
flasgger==0.9.5
Flask==2.2.2
Flask-HTTPAuth==4.7.0
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==4.6.0
Mako==1.2.0
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-sqlalchemy==0.28.1
mccabe==0.6.1
mistune==2.0.2
packaging==21.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.20
pyflakes==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dotenv==0.20.0
PyYAML==6.0
six==1.16.0
SQLAlchemy==1.4.21
toml==0.10.2
webargs==8.2.0
Werkzeug==2.2.2
